<div style="position: relative;">
	<img src="img/jazz.jpg" border="0" width="914">
	<img src="img/shadow.png" border="0" style="position: absolute; left: 56px; top: 21px; width: 778px; height: 324px;">
		<div style="position: absolute; left: 80px; top: 60px; color: #ffffff; font-size: 30px; font-family: SimHei;">
			<span style="font-family: 隶书; font-size: 48px;">昂信科技</span> 致力于提供一流的嵌入式系统开发平台
		</div>
			<div style="position: absolute; left: 111px; top: 126px; font-family: SimHei; color: #ffffff; font-size: 28px; margin: 0.4px 0 0 0;">公司主要业务范围：
				<ul style="color: #ffffff; font-size: 29px; line-height: 42px; margin: 3px 0 0 0; font-family: SimHei;">
				<li>嵌入式评估板、开发板</li>
				<li>教育教学资源</li>
				<li>嵌入式产品解决方案</li>
				<li>嵌入式应用产品委托开发</li>
				</ul>
			</div>
</div>

<div style="position: relative; margin: 15px 0 0 0;">
	<img src="img/vision .jpg" border="0" width="914">
	<img src="img/shadow.png" border="0" style="position: absolute; left: 57px; top: 52px; width: 613px; height: 83px;">
	<img src="img/shadow.png" border="0" style="position: absolute; left: 96px; top: 167px; width: 718px; height: 194px;">
		<div style="position: absolute; left: 80px; top: 62px; color: #ffffff; font-size: 31px; font-family: SimHei;">
			<span style="font-family: 隶书; font-size: 50px;">愿景</span> 做最<span style=" font-size:40px;color:#38B0DE;">开放</span>的嵌入式系统开发平台
		</div>
		<div style="position: absolute; left: 111px; top: 192px; margin: 0.4px 0 0 0;">
			<ul style="color: #ffffff; font-size: 30px; line-height: 42px; margin: 3px 0 0 0; font-family: SimHei;">
			<li>开源的电路设计</li>
			<li>开放的教材课件，提供开发板配套的教学资源</li>
			<li>开放的解决方案，提供开放的源代码和源码分析</li>
			</ul>
		</div>
</div>
  
<div style="position: relative; margin: 15px 0 0 0; background: url('img/1.png') ">
	<img src="img/51.jpg" border="0" style="position: relative; left: 495px; ">
	<div style="position: absolute; left: 43px; top: 9px; font-family: 隶书; font-size: 50px; color: white;">企业委托开发
	</div>
	<div style="position: absolute; text-decoration: underline;left: 67px; top: 64px;">
        <a href="#"><font color="#FFFFFF">
          <ul style="color: #ffffff; font-size: 32px; none;line-height: 40px; margin: 3px 0 0 0; font-family: SimHei;"> 
          <li> 系统设计</li>
          <li>PCB设计</li>
          <li>Linux,Android,μC/OSⅡ开发</li>
          <li>软件及应用程序开发</li>
            <li> 嵌入式软件及硬件开发技术咨询</li>
          <li>产品生产服务</li>
         </ul>
        </font>
      </a>
      </div>
    </div>
	
<div style="position:relative;margin: 15px 0 0 0;cursor:pointer;background: url('img/1.png') ">
	<img src="img/hd.jpg" border="0" style="position: relative; left: 2px;height:314px ;top:2px">
		<div style="position: absolute; left: 421px; top: 34px; font-family: SimHei; font-size: 30px; color: white;">专注于飞思卡尔、意法等ARM处理器
		</div>
		<div style="position: absolute; left: 440px; top: 90px; ">
			<ul style="color: #FFFFFF;font-size: 29px; margin: 5px 0 0;font-family:simhei;line-height: 42px;">
			<li><a href="#"><font color="#FFFFFF">提供评估板、开发板</font></a></li>
			<li><a href="#"><font color="#FFFFFF">开放的教学资源</font></a></li>
			</ul>
		</div>
		<div style="position: absolute; left: 422px; top: 221px; font-family: SimHei; font-size:30px ">
			<a href="#"><font color="#ffffff">提供嵌入式产品解决方案</font></a>
		</div>
</div>

